.crearClanMain {
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 1fr 0.1fr 0.1fr;
    justify-items: center;
    animation: fade-in 1s forwards;
    transition-delay: 1s;

}

.crearClanContainer {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin: 50px;
    color: white;
}

.crearClanNav {
    display: grid;
    grid-template-rows: 0.01fr 0.1fr;
    align-items: center;
    border: solid 3px white;
    border-radius: 20px;
    grid-gap: 2px;
    padding: 1px;
    height: 70vh;
    position: static;
    padding: 10px;
}

.crearClanNav span {
    display: grid;
    text-align: center;
    justify-self: center;
    width: fit-content;
    margin-top: 40px;
}

.crearClanNavGallery {
    display: grid;
    grid-template-rows: 1fr;
}

.buttonUp {
    display: grid;
    height: 70px;
    width: 70px;
    background-image: url(../../public/images/upButtonCrearClan.png);
    justify-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.crearClanServicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
    align-items: flex-start;
    grid-gap: 30px;
    width: max-content;
    height: 70%;
}

.servicio {
    height: 80px;
    width: 80px;
    background-color: aquamarine;
    border-radius: 50%;
    cursor: pointer;
}

.servicio img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.buttonDown {
    display: grid;
    height: 70px;
    width: 70px;
    background-image: url(../../public/images/downButtonCrearClan.png);
    justify-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#counterTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.crearClanCounter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
}

.counterButton {
    font-size: 70px;
    border-radius: 200px;
}

.counter {
    display: grid;
    align-self: center;
    justify-self: center;
    border: solid white 10px;
    padding: 30px;
    border-radius: 180px;
    height: 100px;
    width: 100px;
    align-content: center;
}

#contador {
    font-size: 30px;
}

.crearClanTexts {
    display: grid;
    width: 60vw;
    grid-template-rows: 0.2fr 0.5fr;
    justify-items: center;
    margin-top: 30px;
    border-bottom: solid white 5px;
    padding-bottom: 50px;

}

#cupos {
    display: grid;
    background-color: white;
    color: #3817CC;
    border-radius: 8px;
    padding-right: 10px;
    padding-left: 10px;
}

#ganancia {
    display: grid;
    background-color: #3817CC;
    align-content: center;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.titles {
    display: grid;
    align-self: center;
    font-size: 35px;
    color: white;
    margin-top: 10px;
    text-align: center;
}

.publicarClanTitles {
    margin-bottom: 20px;
}

.subTitles {
    display: grid;
    align-self: center;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    color: white;
    font-weight: 100;
    margin-bottom: 10px;

}

.publicarClanButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    height: fit-content;

}

.publicarClan {
    display: grid;
    grid-template-rows: 1fr 0.6fr;
    justify-items: center;
    justify-content: center;
}

.publicarClan button {
    width: 271.91px;
    height: fit-content;
    padding: 15px;
    border-radius: 100px;
    background-color: #322B61;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.476);
    margin-bottom: 20px;

}

.publicarClan button:hover {
    background-color: #231e44;
    color: white;
    font-weight: 600;

}

/* .next{
padding-left: 750px;

}

.next button {
    width: 271.91px;
    height: fit-content;
    padding: 15px;
    border-radius: 100px;
    background-color: #322B61;
  
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.476);

} */

.crearClan span {
    margin-top: 25px;
}

.crearClanButton {
    border-radius: 100px;
}

.clanImgBackground {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    background-image: url(../../public/images/crearClan.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -3 !important;
}

.clanBackground {
    height: 100%;
    width: 100%;
    background-color: #02031d;
    animation: fade-in 1s forwards;
    transition-delay: 1s;
    position: absolute;
    top: 2cm;
    left: 3.5cm;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.crearClanCredsContainer {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 3fr 0.2fr;
    justify-items: center;
    align-self: center;
    justify-self: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.crearClanCredsBox {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: auto;
    height: auto;
    border-radius: 15px;
    padding: 10px;
    grid-gap: 30px;
}

.dosColumnas {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    width: 100%;
    height: auto;

}

.inputCrearClan {
    display: grid;
    border-radius: 5px;
    height: 90%;
    width: 20vw;
    padding-left: 5px;
    color: #02031d;
}

.inputTitles {
    color: white;

}

.boxDown {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-gap: 30px;
}

.boxDown input {
    display: grid;
    width: 80%;
    justify-self: right;
    border-radius: 5px;
    padding-left: 5px;

}

.send {
    display: grid;
    background-color: #AF16CC;
    padding: 10px;
    border-radius: 50px;
    width: 50%;
    justify-self: left !important;


}

.crearClanSpotiBox button {
    width: 271.91px;
    height: fit-content;
    padding: 15px;
    border-radius: 100px;
    background-color: #322B61;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.476);
    align-items: center;
    justify-self: center;
    transition: 0.5s;
}

.crearClanSpotiBox button:hover {

    background-color: #231e44;
    color: rgb(255, 255, 255);
    font-weight: 600;

}

.selectedButton button{
    width: 271.91px;
    height: fit-content;
    padding: 15px;
    border-radius: 100px;
    background-color: #322B61;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.476);
    
  }

  
.selectedButton button:hover{

    background-color: #231e44;
    color: rgb(255, 255, 255);
    font-weight: 600;

}


.isSelected {
    background-color: #460353 !important;
}

.seleccionaPlataformaTitle {
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    font-size: 45px;
}