.iniContainer {
    display: grid;
    width: 100vw;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    justify-content: center;
    grid-gap: 30px;
}

.iniTitle {
    display: grid;
    text-align: center;
    animation: fade-in 2s forwards;
    transition-delay: 4s;
}

.iniTitle span {
    position: inherit;
    color: white;
 
}

.iniTitleName {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: -1px;
}

.iniSubTitle {
    font-size: 50px;
}

.iniImgBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background-image: url(../../public/images/bgini.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index:1;
    margin-top: -190px;
  
}

.iniBackground {
    height: 100vh;
    width: 100vw;
    background-color: #02031d;
    animation: fade-in 1s forwards;
    transition-delay: 1s;
    position: absolute;
    top: 2cm;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    
}

.iniDarkLeft {
    height: 100vh;
    width: 50vw;
    background-color: rgba(1, 1, 6, 0.256);
    opacity: 0;
    animation: fade-in 1s forwards;
    transition-delay: 1s;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.iniAction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80vw;
    color: white;
    justify-items: center;
    animation: fade-in 1s forwards;
    transition-delay: 1s;
}

.iniActions {
    display: grid;
    grid-template-rows: 0.4fr 0.3fr;
    justify-items: center;
}

.iniActions button {
    width: 271.91px;
    height: fit-content;
    padding: 15px;
    border-radius: 100px;
    background-color: #322B61;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.476);
}

.iniActions button:hover {
    background-color: #231e44;
    color: white;
    font-weight: 600;
}

.iniActions2 {
    display: grid;
    grid-template-rows: 1fr 0.1fr;
    justify-items: center;
}

.iniActions2 button {
    width: 191.91px;
    height: fit-content;
    padding: 10px;
    border-radius: 100px;
    background-color: #322B61;

    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.476);
    margin-top: 170px;

}

.iniActions2 button:hover {
    background-color: #231e44;
    color: white;
    font-weight: 600;
}

.iniActions span {
    font-size: 17px;
    margin-top: -50px;
}

.logoHome {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    grid-gap: 30px;
}

.logoContainer {
    width: 200px;
    height: 200px;
    background-image: url(../../public/images/LOGO.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -30px;
}
