.botonProfile {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 690px;
    margin: 0 auto;
    box-sizing: border-box;
    grid-gap: 20px;
  }
  
  .botonProfile button {
    display: grid;
    background-color: #7316CC;
    border: none;
    padding: 10px 20px 10px 20px;
    width: 14vw;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-self: center;
  }
  
  .botonProfile button:hover {
    background-color: #7316CC;
  }
  
  .botonProfile button:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #3817CC;
  
  }

 .profileMainContainer{
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-gap: 20px;
 }

 .profileImgBackground {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  background-image: url(../../public/images/bgini.jpeg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -2 !important;
}

.profileBackground {
  height: 100%;
  width: 100%;
  background-color: #02031d;
  animation: fade-in 1s forwards;
  transition-delay: 1s;
  position: absolute;
  top: 2cm;
  /* left: 3.5cm; */
  right: 0;
  bottom: 0;
  z-index: -2;
}

