.regImgBackground{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    background-image: url(../../public/images/Registroa.jpeg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position:  top;
    background-size: contain;
    align-items: center;
}

.regBackground{
    height: 100vh;
    width: 100vw;
    background-color: #02031d;
    z-index: 2; /* modifica el orden de apilamiento, puede sobreponer o trasponer elementos */
    opacity: 0;
  animation: fade-in 1s forwards;
  transition-delay: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.circle {
    border-radius: 50%;
    display: grid;
    position: relative;
  }

  .circle img {
    border-radius: 50%;
    border:1px solid rgba(255,255,255,0);
  }

  .circle:after {
   content: "";
   width: 100vw;
   height: 100vh;
   background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,#02031d 69%, #02031d 100%);
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
  }

  .formContainer{
    display: grid;
    width: 30vh;
    grid-template-rows: 0.3fr 0.5fr;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 2; /* modifica el orden de apilamiento, puede sobreponer o trasponer elementos */
    padding-top: 0px;
    padding-bottom: 10px;
    
  }
  .regTitle {
    display: grid;
text-align: center;
font-size: 18px;
align-self: flex-end;
margin-bottom: 10px;
}

 button:hover {
    color: #ff9900;
    transition: 0.5s;
  }