/* Ajustes en RegistroInicio.css */
.regImgBackground {
  display: grid;
  justify-items: center;
  grid-rows: 1;
  position: relative; /* Importante para posicionar correctamente el pseudo-elemento */
}

.regImgBackground::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/images/Registroa.jpeg'); /* Ajusta la ruta según sea necesario */
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  opacity: 0.5; /* Ajusta según necesites */
  z-index: -1; /* Coloca el fondo detrás del contenido */
}

.formContainer {
  z-index: 1; /* Asegura que el contenido esté por encima del fondo */
  /* Tus estilos existentes para formContainer */
}

.regBackground{

    background-color: #02031d;
    z-index: 2; /* modifica el orden de apilamiento, puede sobreponer o trasponer elementos */
    opacity: 0;
  animation: fade-in 1s forwards;
  transition-delay: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.circle {
    border-radius: 50%;
    display: grid;
    position: relative;
  }

  .circle img {
    border-radius: 50%;
    border:1px solid rgba(255,255,255,0);
  }

  .circle:after {
   content: "";
   width: 100vw;
   height: 100vh;
   background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,#02031d 69%, #02031d 100%);
   border-radius: 50%;
   position: absolute;
   top: 0;
   left: 0;
  }

  .formContainer{
    display: grid;
    width: 30vh;
    grid-template-rows: 0.3fr 0.5fr;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 2; /* modifica el orden de apilamiento, puede sobreponer o trasponer elementos */
    padding-top: 0px;
    padding-bottom: 10px;
    
  }
  .regTitle {
    display: grid;
text-align: center;
font-size: 18px;
align-self: flex-end;
margin-bottom: 10px;
}

button{

  transition: background-color 0.3s ease;
}

 button:hover {
  background-color: #231e44;
    color: white;
    font-weight: 600;
  }