body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  background-color: #02031f00;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  z-index: 1;
  width: 100%; 
}

nav {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  justify-items: right;
  color: white;
  font-family: montserrat;

}


.navIni {
  margin-left: 50px;
}

nav ul {
  display: grid;
  width: 70vw;
  grid-template-columns: 1.3fr 1.3fr 1.3fr 2fr;
  justify-self: center;
  justify-content: left;
}


.navButton:link {
  font-size: 16px;

}

.navButton:hover {
  color: #ffffff;
  transition: 0.5s;
  font-weight: bold;
  background-color: rgb(76, 0, 49);
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 20px;
  /* Color de fondo */

}

.navRegistro {
  justify-self: right;

}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.navButton.active {
  color: #ffffff;
  font-weight: 500;
  background-color: rgb(32, 0, 70);
  /* Color de fondo */
}

.logOut.active {
  color: #ffffff;
  font-weight: 500;
  background-color: rgb(32, 0, 70);
  /* Color de fondo */
  margin-left: 10px;
}

.logOut:hover {
  color: #ffffff;
  transition: 0.5s;
  font-weight: bold;
  background-color: #131024;
  /* Color de fondo */
  margin-left: 10px;

}

.logOut:link {
  font-size: 16px;
  margin-left: 10px;

}

.logOut {
  font-size: 13px;
  margin-left: 10px;
  color: #ffffff;
  transition: 0.5s;
  font-weight: bold;
  background-color: #322B61;
  /* Color de fondo */
padding: 4Px;
padding-left: 10PX;
padding-right: 10PX;
  border: solid white 1px;
  border-radius: 10px;
}


.logo {
  width: 80px;
  height: 80px;
  background-image: url(../../public/images/LOGO.png);
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: right;
  margin-right: 20px;
  margin-top: -30px;
}

@media (max-width: 600px) {


  nav div a img {
    margin-left: 20px;
    width: 10%;
    height: 10%;

  }
}


.navButton:link,
.navButton:hover,
.navButton.active,
.logOut.active,

.logOut:link {
  font-size: 16px;
  color: #ffffff;
  font-weight:600;
  padding: 10px;
  border-radius: 15px;
  transition: all 0.5s ease; /* Transición uniforme para todas las propiedades */
}

.navButton:hover,
.logOut:hover {
  background-color: #231e44;
}

.navButton.active,
.logOut.active {
  background-color: #322B61;
}